[% INCLUDE "header.tt" %]
[% PROCESS "form_macros.tt" %]

<div id="title">Edit [% crud.moniker | html %]</div>
<form action="[% c.uri_for('do_edit', item.id) %]" method="post"><fieldset>
    <legend>[% crud.moniker %] '[% item | html %]'</legend>

    [%
    FOR column = item.columns;
        NEXT IF column == item.primary_column;
        form_edit_column_input('do_edit', column, crud.column_monikers.$column);
    END;
    %]

    <span class="item_local_action">
    <a href="[% c.uri_for('view', item.id) %]">View</a> | <a href="[% c.uri_for('destroy', item.id) %]">Delete</a>
    </span>

    <input type="submit" value="Edit"/>
</fieldset><form/>

<br />
<a href="[% c.uri_for('add') %]">Add</a>
|
<a href="[% c.uri_for('list') %]">List</a>

[% INCLUDE "footer.tt" %]
