[% MACRO list_row_columns(item) BLOCK; %]
            [% FOR column = crud.model.list_columns %]
                <td>[% item.$column %]</td>
            [% END %]
[% END; %]



[% MACRO list_additional_column_headings(item) BLOCK; %]
[% END; %]



[% MACRO list_actions(item) BLOCK; %]
                <a href="[% c.uri_for_controller('view', item.id) %]">View</a>
                <a href="[% c.uri_for_controller('edit', item.id) %]">Edit</a>
                <a href="[% c.uri_for_controller('delete', item.id) %]">Delete</a>
[% END; %]

